*{
    font-family: 'Lato', sans-serif;
}

body{
    margin: 0px;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

 }
 #bodyMainDivWrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
 }

.bodyMainDivStyle{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 1112px;
}

#headerWrapper{
    background-color: #E0E0E0;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerBox{
    background-color: #E0E0E0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:100%;
    height: 60px;
    max-width: 1112px;
}

#headerMainDiv{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.TitleProject{
    font-size: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 10px;
}

#logoAndTitleStyle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
}

#logoImageStyle{
    width: 30px;
    height: 27px;
}

.newTransitionDivStyle{
    width: 35%;
    height: 350px;
    border: solid 1px;
    border-color: silver;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transitionTitleStyle{
    text-align: center;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5x;
}

.formBoxStyle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:95%;
    height: 250px;
}

.labelAndInputBoxStyle{
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: space-between;
}

#selectCampStyle{
    height: 35px;
    margin: 0px;
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
    color: #888888;
}

#inputMerchandiseNameStyle{
    height: 30px;
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
    color: #888888;
}

#inputMerchandiseValueStyle{
    height: 30px;
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
    color: #888888;
}

#inputSubmitStyle{
    height: 25px;
    width: 100%;
    margin-top: 3px;
}

.submitCampStyle{
    background-color: #333333; 
    border-radius: 3px;
    color: white;
    height: 100%;
    width: 100%;
}

.extractTransitionDivStyle{
    width: 64.5%;
    height: 300px;
    margin-left: 5px;
    margin-top: 20px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.extractTansitionTitleStyle{
    text-align: center;
    margin-top: 10px;
}

#extractTransitionTableStyle{
    width: 98%;
    height: 100%;
}

#tableRowStyle{
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-bottom: solid 1px; 
    border-color: gray; 
}
.trCreateDinamicStyle{
    border-bottom: solid 1px; 
    width: 100%;
    border-color: gray;
}

#total{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
}
.totalText{
    width: 80px;
    text-align: center;
}
#tableRowTotalResultStyle{
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: end;
    font-size: 14px;
}
#positiveAndNegativeResultsId{
    font-size: 10px;
    margin: 0px;
}
#dynamicTotalStyle{
    font-size: 15px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    text-align: end;
}
#finalResult{
    margin: 0px;
}
td{
  
    word-break: break-all;
    padding: 5px;
    font-size: 14px;
    
}
th{
    padding-left: 25px;
    padding-right: 15px;
    font-weight: 700;
    font-size: 14px;
}

.tdCreateOneStyle{
    text-align: center;
}
.tdCreateTwoStyle{
    width: 70%;
}
.tdCreateThreeStyle{
    width: 100%;
    text-align: end;
    padding-right: 10px;
    
   
}
.tdClearStorage{
    text-align: center;
    padding-top: 80px;
}

#tableBodyStyle{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    width: 100%;
    height: 200px; 
}
#tableBodyStyle::-webkit-scrollbar {
    width: 1px;
  }



.tableRowTotalStyle{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px;
    
    border-color: gray;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
   
}
#clearStorageTextStyle {
    padding-top: 80px;
}
.mainDivResponsiveStyle{
    position: relative;
    display: flex;
    flex-direction: row;
    height: 60px;
}

.menuImage{
    width: 0px;
}
.closeMenuImage{
    width: 0px;
}

.navResponsiveStyle{
    height: 60px;
    overflow-y: hidden;
    width: 350px;  
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} 

#inputCheck{
     display: none; 
}

.listStyle{
    list-style: none;
    padding: 0px;
    width:100%;
    height: 40px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
}

 .linkStyle{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    color: #333333; 
} 

.linkStyle:hover{
    cursor: pointer;

}


/* Responsividade do projeto abaixo */

/* Estilo para tablet landscape ou laptop */

@media screen and (max-width: 1112px) {
    .bodyMainDivStyle{
        width: 95.5%;
        height: 100%;
        margin: 22px;
    }

    #headerMainDiv{
        width: 100%;
        margin: 22px;
    }

    .listStyle{
        width: 350px;
    }
    .newTransitionDivStyle{
        height: 344px;
        width: 50%;
    }
    .extractTransitionDivStyle{
        width: 100%;
    }
    #extractTransitionTableStyle{
        width: 98%;  
    }
    
}

/* Estilo para responsividade para tablet abaixo */

@media screen and (max-width: 768px) {
    .bodyMainDivStyle{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin:22px;
        height: 600px;
    
        padding: 0px;
       
    }
    #headerMainDiv{
        width: 100%;
    }

    .TitleProject{
        display: flex;
        justify-content: center;
        width: 100%;
        margin: none;
    }

    #logoAndTitleStyle{
        width:100%;
    }
    .newTransitionDivStyle{
        width: 99.5%;
        height: 250px;

    }
    .formBoxStyle{
        display: flex;
        width: 95%;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    #inputBreakPartStyle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .labelAndInputBoxStyle{
        display: flex;
        justify-content: space-between;  
    }
    #inputMerchandiseNameStyle{
        width: 350px;
        height: 30px;
        border-radius: 4px;
    }
    #inputMerchandiseValueStyle{
        width: 150px;
        height: 30px;
    }
    #inputSubmitStyle{
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }
    .submitCampStyle{
        width: 30%;
        height: 30px;
    }
    .extractTransitionDivStyle{
        width: 100%;
        margin-top: 40px;
        margin-left: 0%; 
    }
    .mainDivResponsiveStyle{
        position: absolute;
        height: 100%;
        top: 0px;
        right: 0px; 
    }
    
    .labelImageStyle{
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .labelCloseImageStyle{
        position:relative;
        top: 35px;
        left: 20px;  
        width: 0px;
    }

    .menuImage{
        width: 30px;
    }

    .menuImage:hover{
        cursor: pointer;
    }

    .closeMenuImage{
       width: 15px;
    }

    .closeMenuImage:hover{
        cursor: pointer;
    }

    .navResponsiveStyle{
        background-color: #333333; 
        height: 100%;
        width: 0px;  
        display: flex;
        align-items: flex-start;
        overflow-x: hidden;
    }

    .listStyle{
        list-style: none;
        padding: 0px;
        width: 100%;
        display: block;
        margin-top:100px ;
        background-color: transparent; 
        height: 100px;

    }

    .linkBar{
        display: none;
    }

    .linkStyle{
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 45px;
        font-size: 16px;
    }

    .linkStyle:hover{
        background-color:#C4C4C4; 
        color: black;
    }

    /* Abaixo temos um condição que vai funcionar para abrir nossa side bar em dispositivos
    como tablet e mobile. Essa condição é ativado de acordo com o estado do checkbox, se ele
    estiver marcado a side bar vai ser mostrada, se estiver desmarcado a side bar vai estar 
    com width 0px  */

    #inputCheck:checked ~ .navResponsiveStyle
    {
        width: 252px;
    }
    #inputCheck:checked ~ .labelImageStyle
    {
        display: none;
    }
     #inputCheck:checked ~ .labelCloseImageStyle
    {
        top: 20px;
        right: 110px;
        width: 30px;
    } 
  
}

/* Estilo de responsividade entre o tablet e mobile */

@media screen and (max-width: 724px) {
    .newTransitionDivStyle{
        height: 300px;
    }
    .formBoxStyle{
        margin-bottom: 20px;
    }
    #inputBreakPartStyle{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .labelAndInputBoxStyle{
        width: 100%; 
    }
    #selectCampStyle{
        width: 99%;
    }
    #inputMerchandiseNameStyle{
        width: 98%;
    }
    #inputMerchandiseValueStyle{
        width: 98%;
    }
    .submitCampStyle{
        width: 100%;
    }
    
    #tableBodyStyle{
        
        height: 150px; 
    }
    #tableRowStyle {
       margin:none;
    }
}

/* Estilo de responsividade para mobile */

@media screen and (max-width: 480px) {
    .TitleProject{
        
        padding-right: 30px;
       
    }
    .newTransitionDivStyle{
        width: 371;
        height: 290px;
        border: none;
    }
    .transitionTitleStyle{
        display: none;
    }
    .formBoxStyle{
        width: 100%;
        height: 95%;
        margin-left: 0px;
        margin-bottom: 0%;
    }
    #inputBreakPartStyle{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
    }
    .formBoxStyle{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 0px;
    }
    #selectCampStyle{
        width: 100%;
    }
    #inputMerchandiseNameStyle{
        width: 98%;
    }
    .extractTransitionDivStyle{
        height: 280px;
        border-top: solid 1px;
        border-color: gray;
        justify-content: flex-end;
    }
    #extractTransitionTableStyle{
        height: 200px;
        
    }
    #tableRowStyle{
        width: 100%;   
    }


    #inputCheck:checked ~ .navResponsiveStyle
    {
        width: 351px;
    }
    
}