*{
    font-family: 'Lato', sans-serif;
}
html{
    width: 100vw;
}

body{
    margin: 0px;
    width:100%;
    height: 100%;
 }

.bodyMainDivStyle{
    width: 75%;
    height: 80%;
    margin-top: 2%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

header{
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content:space-around;
    align-items: center;
    width:100%;
    height: 80px;
}

#headerMainDiv{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerDivStyle{
    width: 36%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#logoAndTitleStyle{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

#logoImageStyle{
    width: 40px;
    height: 40px;
}

.headerButtonSize{
    width: 49.5%;
    height: 40px;
    border-color:gainsboro;
}

.newTransitionDivStyle{
    width: 35%;
    height: 350px;
    border: solid 1px;
    border-color: silver;
    display: flex;
    flex-direction: column;
}

.transitionTitleStyle{
    text-align: center;
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.formBoxStyle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:95%;
    height: 70%;
    margin-left: 2.5%;
}

.labelAndInputBoxStyle{
   margin-top: 10px;
   display: flex;
   flex-direction: column;
   align-items: space-between;
}

.selectCampStyle{
    height: 35px;
    margin: 0px;
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
}

#inputMerchandiseNameStyle{
    height: 30px;
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
}

#inputMerchandiseValueStyle{
    height: 30px;
    border: 1px solid;
    border-color: gray;
    border-radius: 4px;
}

#inputSubmitStyle{
    height: 25px;
    width: 100%;
    margin-top: 3px;
}

.submitCampStyle{
    background-color: black; 
    
    border-radius: 3px;
    color: white;
    height: 100%;
    width: 100%;
}

.extractTransitionDivStyle{
    width: 64.5%;
    margin-left: 0.5%;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.extractTansitionTitleStyle{
    text-align: center;
    margin-top: 1%;
}

.extractTransitionTableStyle{
    width: 98%;
    height: 100%;
}

.tableRowStyle{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
    width: 97.5%;
    border-bottom: solid 1px; 
    border-color: gray;
    padding-top: 10px;
}

.tableRowTotalStyle{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px;
    border-color: gray;
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    width: 97.5%;
}

.mainDivResponsiveStyle{
    display: none;
}

.labelImageStyle{
    position: absolute;
    top: 25px;
    right: 10px;
    z-index: 1; 
}

/* Abaixo temos um condição que vai funcionar para abrir nossa side bar em dispositivos
como tablet e mobile. Essa condição é ativado de acordo com o estado do checkbox, se ele
estiver marcado a side bar vai ser mostrada, se estiver desmarcado a side bar vai estar 
com width 0px  */

#inputCheck:checked ~ .labelImageStyle
{
    top: 20px;
    right: 190px;
}
#inputCheck:checked ~ .navResponsiveStyle
{
    width: 252px;
}

.menuImage{
    width: 30px;
}

.navResponsiveStyle{
    background-color: rgba(61, 58, 59, 1);
    height: 100%;
    overflow-y: hidden;
    width: 0px;  
}

#inputCheck{
     display: none; 
}
.listStyle{
    list-style: none;
    padding: 0px;
    width: 100%;
    display: block;
    margin-top:100px ;
}

.linkStyle{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
    padding: 20px 5px;
}

.linkStyle:hover{
    background-color: gainsboro; 
    color: black;
}





/* Responsividade do projeto abaixo */

/* Estilo para tablet landscape ou laptop */

@media screen and (max-width: 1112px) {
    
    .bodyMainDivStyle{
        width: 98%;
        height: 100%;
        margin-left:1%;
    }
    header{
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }
    #headerMainDiv{
        width: 97%;
        margin-left:1%;
    }
    .headerDivStyle{
        width: 66%;
        display:flex;
        align-items: center;
        justify-content: flex-end;
    }
    #logoAndTitleStyle{
        width:180;
    }
    .headerButtonSize{
        width: 30%;    
    }
    .newTransitionDivStyle{
        height: 344px;
        width: 500px;
        margin-left: 1%;  
    }
    .extractTransitionDivStyle{
        width: 100%;
    }
    .extractTransitionTableStyle{
        width: 98%;  
    }
    
}

/* Estilo para responsividade para tablet abaixo */

@media screen and (max-width: 768px) {
    .bodyMainDivStyle{
        display: flex;
        flex-direction: column;
    }
    #headerMainDiv{
        width: 97%;
    }
    .headerDivStyle{
        display: none;
    }
    #logoAndTitleStyle{
        width:60%;
    }
    .newTransitionDivStyle{
        width: 98%;
        margin-left: 1%;
        height: 180px;
        display: flex;
    }
    .formBoxStyle{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;
   }
   #inputBreakPartStyle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .labelAndInputBoxStyle{
        display: flex;
        justify-content: space-between;  
    }
    #inputMerchandiseNameStyle{
        width: 350px;
        height: 30px;
        border-radius: 4px;
    }
    #inputMerchandiseValueStyle{
        width: 150px;
        height: 30px;
    }
    #inputSubmitStyle{
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;
    }
    .submitCampStyle{
        width: 30%;
        height: 30px;
    }
    .extractTransitionDivStyle{
        width: 100%;
        margin-top: 5%;
        margin-left: 0%; 
    }
    .mainDivResponsiveStyle{
        display: flex;
        flex-direction: column;
        position: absolute;
        height: 100%;
        top: 0px;
        right: 0px;
    }
}

/* Estilo de responsividade entre o tablet e mobile */

@media screen and (max-width: 724px) {
    .newTransitionDivStyle{
        height: 300px;
    }
    .formBoxStyle{
        margin-bottom: 5%;
    }
    #inputBreakPartStyle{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .labelAndInputBoxStyle{
        width: 100%; 
    }
    .selectCampStyle{
        width: 99%;
    }
    #inputMerchandiseNameStyle{
        width: 98%;
    }
    #inputMerchandiseValueStyle{
        width: 98%;
    }
    .submitCampStyle{
        width: 100%;
    }
}

/* Estilo de responsividade para mobile */

@media screen and (max-width: 480px) {
    .newTransitionDivStyle{
        width: 371;
        height: 290px;
        border: none;
    }
    .transitionTitleStyle{
        display: none;
    }
    .formBoxStyle{
        width: 100%;
        height: 95%;
        margin-left: 0px;
        margin-bottom: 0%;
    }
    #inputBreakPartStyle{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80%;
    }
    .formBoxStyle{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 0px;
    }
    .selectCampStyle{
        width: 100%;
    }
    #inputMerchandiseNameStyle{
        width: 98%;
    }
    .extractTransitionDivStyle{
        height: 280px;
        border-top: solid 1px;
        margin-top: 5%;
        justify-content: flex-end;
    }
    .extractTransitionTableStyle{
        height: 200px;
        
    }
    .tableRowStyle{
        width: 95%;   
    }
    .tableRowTotalStyle{
        width: 95%;   
    }
    #inputCheck:checked ~ .labelImageStyle{
        right: 300px;
    }
    #inputCheck:checked ~ .navResponsiveStyle{
        width: 351px;
    }
    







}