
html{
   /*  border:solid 5px;
    border-color: gray; */
    width: 100vw;
    height: 100%;
/*     background-color: aqua; */
    
}
header{
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width:100%;
    height: 80px;
}
@media screen and (max-width: 1000px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content:space-evenly;
    }
  }
.headerDivStyle{

    width: 30%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 1000px) {
    .headerDivStyle{
        width: 75%;

        display:flex;
        align-items: center;
        justify-content: flex-end;
    }
  }


.headerButtonSize{
   /*  background-color:yellowgreen; */
    width: 49.5%;
    height: 60%;
    border-color:gainsboro;
}
@media screen and (max-width: 1000px) {
    .headerButtonSize{
        width: 28%;
       
    }
  }
body{
   /*  background-color: red; */
   margin: 0px;
   width:100%;
   height: 100%;
   
  /*  background-color: blue; */
    
}
.bodyMainDivStyle{
  /*  background-color: yellow;  */
   /*  border:solid 1px; */
    width: 75%;
    height: 80%;
    margin-top: 2%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: row;
}
@media screen and (max-width: 1000px) {
    .bodyMainDivStyle{
        width: 98%;
        margin-left:1%;
       
    }
  }

.newTransitionDivStyle{
    width: 35%;
    height: 60%;
    border: solid 1px;
    border-color: silver;
    display: flex;
    flex-direction: column;
/*     background-color: green; */
}
@media screen and (max-width: 1000px) {
    .newTransitionDivStyle{
        height: 40%;
        width: 40%;
    }
  }
.transitionTitleStyle{
    text-align: center;
    /* background-color: red; */
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
.inputAndLabelBoxStyle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* background-color: aqua; */
    width:95%;
    height: 80%;
    margin-left: 2.5%;
}
.selectCampStyle{
    height: 12%;
    margin: 0px;
  
    
 /*    background-color: blue; */
}
.inputCampStyle{
    height: 12%;

}
.submitCampStyle{
    background-color: black;
    border-radius: 3px;
    color: white;
    height: 10%;

}
.extractTransitionDivStyle{
 
    width: 65%;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    
}
@media screen and (max-width: 1000px) {
    .extractTransitionDivStyle{
        width: 60%;
    }
  }

.extractTansitionTitleStyle{
    text-align: center;
/*     background-color: yellow;  */
    margin-top: 1%;
}
.extractTransitionTableStyle{
 
    height: 100%;
    width: 95%;
}
.tableRowStyle{
    display: flex;
    justify-content: space-between;
   /*  background-color: red; */
    width: 100%;
    border-bottom: solid 1px;
    border-color: gray;
    padding-top: 10px;
}
.tableRowTotalStyle{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px;
    border-color: gray;
    margin-top: 5px;
    width: 100%;
}





.mainDivResponsiveStyle{
    display: flex;
    flex-direction: column;
   /*  background-color: gray; */
    position: fixed;
    top: 0px;
    right: 0px;
}
.labelImageStyle{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px ;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: aqua;
   
    /*  */
    
    
    
}
.menuImage{
    width: 40px;
}
.navResponsiveStyle{
    background-color: gray;
  /*   height: 1000px; */
   /*  position: relative; */
    transition: all 0.5s;
    right:-350px;
    height: 1000px;
    width: 350px;
}
.listStyle{
    list-style: none;
  /*   background-color: aqua;  */
    width: 100%;
    top:50px;
    position: absolute;
}
.linkStyle{
    text-decoration: none;
   /*  color: black; */
   color: white;
  /*  background-color: blue;  */
   display: block;
   padding: 20px;
    
  
}
.linkStyle:hover{
    background-color: red; 
}
#inputCheck{
    display:none;
}
/* #inputCheck:checked ~  */
#inputCheck:checked ~ .navResponsiveStyle
{
    transform: translateX(350px);

}

