
html{
   /*  border:solid 5px;
    border-color: gray; */
    width: 100vw;

  

    
}

header{
    background-color: gainsboro;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width:100%;
    height: 80px;
}
@media screen and (max-width: 1000px) {
    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content:space-evenly;
    }
}

.headerDivStyle{

    width: 30%;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (max-width: 1000px) {
    .headerDivStyle{
        width: 75%;
        display:flex;
        align-items: center;
        justify-content: flex-end;
    }
}
@media screen and (max-width: 768px) {
    .headerDivStyle{
       display: none;
    }
}

.headerButtonSize{
   /*  background-color:yellowgreen; */
    width: 49.5%;
    height: 60%;
    border-color:gainsboro;
}
@media screen and (max-width: 1000px) {
    .headerButtonSize{
        width: 28%;
       
    }
  }
body{
   /*  background-color: red; */
   margin: 0px;
   width:100%;
   height: 100%;
   
   background-color: blue;
    
}
.bodyMainDivStyle{
  /*  background-color: yellow;  */
   /*  border:solid 1px; */
    width: 75%;
    height: 80%;
    margin-top: 2%;
    margin-left: 12.5%;
    display: flex;
    flex-direction: row;
    

}
@media screen and (max-width: 1000px) {
    .bodyMainDivStyle{
        width: 98%;
        margin-left:1%;
    }
}
@media screen and (max-width: 768px) {
    .bodyMainDivStyle{
       display: flex;
       flex-direction: column;
    }
}

.newTransitionDivStyle{
    width: 35%;
    height: 300px;
    border: solid 1px;
    border-color: silver;
    display: flex;
    flex-direction: column;
    background-color: yellow; 
}
@media screen and (max-width: 1000px) {
    .newTransitionDivStyle{
        height: 300px;
        width: 30%;
    }
}
@media screen and (max-width: 768px) {
    .newTransitionDivStyle{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 480px) {
    .newTransitionDivStyle{
        width: 100%;
        height: 300px;
    }
}






.transitionTitleStyle{
    text-align: center;
   background-color: red;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}
@media screen and (max-width: 480px) {
    .transitionTitleStyle{
        display: none;
    }
}

.formBoxStyle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: aqua; 
    width:95%;
    height: 80%;
    margin-left: 2.5%;
}
 @media screen and (max-width: 768px) {
    .formBoxStyle{
        display: flex;
        align-items: center;
        justify-content: center;
   }
}
@media screen and (max-width: 480px) {
    .formBoxStyle{
       height: 100%;
   }
}



@media screen and (max-width: 768px) {
    #inputBreakPartStyle{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: black;
        width: 100%;
        
      
   }
}
@media screen and (max-width: 480px) {
    #inputBreakPartStyle{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}

.labelAndInputBoxStyle{
  background-color: red;
   margin-top: 10px;
   display: flex;
   flex-direction: column;
}
@media screen and (max-width: 768px) {
    .labelAndInputBoxStyle{
        display: flex;
        justify-content: space-between ;
        
   }
}
@media screen and (max-width: 480px) {
    .formBoxStyle{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 0px;
        
   }
}


.selectCampStyle{
    height: 35px;
    margin: 0px;
 /*    background-color: blue; */
}


#inputMerchandiseNameStyle{
    height: 30px;
}
@media screen and (max-width: 768px) {
    #inputMerchandiseNameStyle{
        width: 250px;
        height: 20px;
   }
}
#inputMerchandiseValueStyle{
    height: 30px;
}
@media screen and (max-width: 768px) {
    #inputMerchandiseValueStyle{
        width: 80px;
        height: 20px;
   }
}


#inputSubmitStyle{
    height: 25px;
    width: 100%;
    margin-top: 3px;
}
@media screen and (max-width: 768px) {
    #inputSubmitStyle{
        display: flex;
        justify-content: flex-end;
        margin-top: 15px;

   }
}

.submitCampStyle{
    background-color: black;
    border-radius: 3px;
    color: white;
    height: 100%;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .submitCampStyle{
        width: 30%;
       
   }
}

.extractTransitionDivStyle{
 
    width: 65%;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blue; */
    
}
@media screen and (max-width: 1000px) {
    .extractTransitionDivStyle{
        width: 60%;
    }
}
@media screen and (max-width: 768px) {
    .extractTransitionDivStyle{
        width: 100%;
        margin-top: 5%;
        background-color: greenyellow;
    }
}

.extractTansitionTitleStyle{
    text-align: center;
/*     background-color: yellow;  */
    margin-top: 1%;
}
.extractTransitionTableStyle{
 
    height: 100%;
   
}
@media screen and (max-width: 768px) {
    .extractTransitionTableStyle{
        width: 100%;
    }
}


.tableRowStyle{
    display: flex;
    justify-content: space-between;
   /*  background-color: red; */
    width: 100%;
    border-bottom: solid 1px;
    border-color: gray;
    padding-top: 10px;
}
.tableRowTotalStyle{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px;
    border-color: gray;
    margin-top: 5px;
    width: 100%;
}


    .mainDivResponsiveStyle{
        display: none;
    }

@media screen and (max-width: 768px) {
    .mainDivResponsiveStyle{
        display: flex;
        flex-direction: column;
       /*  background-color: gray; */
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.labelImageStyle{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px ;
    margin-top: 10px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: aqua;
    z-index: 1;
    /*  */
}
@media screen and (max-width: 768px) {
    .labelImageStyle{
        margin-right: 10px;
    }
}

.menuImage{
    width: 40px;
}
.navResponsiveStyle{
    background-color: gray;
    height: 500px;
    position: absolute; 
    transition: all 0.5s;
    right: -350px;
    width: 350px;
   
}
#inputCheck:checked ~ .navResponsiveStyle
{
    transform: translateX(-350px);
   

}
.listStyle{
    list-style: none;
  /*   background-color: aqua;  */
    width: 100%;
    top:50px;
    position: absolute;
}
.linkStyle{
    text-decoration: none;
   /*  color: black; */
   color: white;
  /*  background-color: blue;  */
   display: block;
   padding: 20px 5px;
    
  
}
.linkStyle:hover{
    background-color: red; 
}
#inputCheck{
    display: none; 
}
/* #inputCheck:checked ~  */


